  *{
    padding: 0;
    margin: 0;
  }

  .blog-heading h2{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
  }

.list{
  display: grid;
  gap: 20px;
  padding: 10px 28px;
  grid-template-columns: auto auto auto;
}
.list a{
  text-decoration: none;
}
.blog-post {
  margin-bottom: 20px;
  padding: 25px 30px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.blog-post h3 {
  color: #333;
  text-align: center;
  
}

.blog-post p {
  color: #666;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

@media (max-width: 768px) {
  .blog-post {
    padding: 30px;
  }
  .list{
     display: grid;
     grid-template-columns: 1fr;
  }
}

.blog-detalis-page{
  padding: 37px;
}


.blog-detalis-page h2{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 50px;
}